* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  height: 99px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #3e4424 0%, #7b920a 100%);
}
.header_h1 {
  position: absolute;
  width: 154px;
  left: 148px;
  top: 25px;
  font-family: "Aclonica";
  font-size: 28px;
  line-height: 25px;
  color: #f6b900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__img {
  position: absolute;
  width: 72px;
  height: 73px;
  left: 60px;
  top: 15px;
  border-radius: 34.5px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__search {
    position: absolute;
    left: 48%;
    top: 45%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.search__input{
    outline: none;
    box-sizing: border-box;
    width: 400px;
    height: 60px;
    padding: 0 20px;
    color: black;
    border-radius: 20px;
    font-family: 'Arbutus Slab';
    font-size: 20px;
    border: 1px solid #7b920a;
    transition: ali .8s ease;
}
::placeholder{
    color: #7b920a ;
}

.header__search:hover input {
    width: 500px;
}

.nav__{
    display: flex;
    font-family: "Arbutus Slab";
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 100px;
  }
  
 .nav__car {
    display: inline;
    padding: 30px 70px 0px 0px;
    color: #ffffff;
    text-decoration: none;
  }
  .nav__cuenta {
    display: block;
    padding: 30px 0px 0px 0px;
    color: #ffffff;
    text-decoration: none;
  }



